body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  background-color: #11a36a;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #EDEDED;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 15px 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #55847A;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #FFFFFF;
  margin-bottom: 15px;
}

button:hover {
  border-color: #646cff;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background-color: grey;
}

.add_button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkbox_container {
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  background-color: #55847A;
  padding: 5% 10%;
  margin-bottom: 15px;
}

.input_checkbox {
  padding: 500px;
  margin: 0 10px;
  width: fit-content;
}

input {
  padding: 15px;
  width: 60%;
  margin-bottom: 15px;
  border: 1px gray solid;
  border-radius: 20px;
}

